extends template.pug
block title
    title Page Not Found
block content
    div.error-not-found
        h1 Page Not Found
        p Sorry, we must have lost this page.. check back later.
        p
            a.button.home-btn(href='/') Home